@{
    ViewData["Title"] = "Country Hospital";
}
@model  CriticalNotify.Data.危急值通報檔;

<div class="text-center">
    <h1 class="display-8">危急值通報回應</h1>
    <hr>
    <h4 class="text-left">
    <p class="text-info">病患病歷號:</p> <br>
    <p>病患姓名:@Model.病患檔_counter</p> <br>
    <p>檢查項目:@Model.流水單號</p><br>
    <p>檢查結果:</p> <br>
    </h4>
</div>
 